.navbar {
  background-color: var(--mantine-color-body);
  height: rem(100%);
  width: rem(100%);
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  border-right: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.navbarMain {
  flex: 1;
  margin-top: var(--mantine-spacing-xl);
}
