.icon {
  width: rem(22px);
  height: rem(22px);
}

.item {
  & + & {
    padding-top: var(--mantine-spacing-sm);
    margin-top: var(--mantine-spacing-sm);
  }
}

.dark {
  @mixin dark {
    display: none;
  }

  @mixin light {
    display: block;
  }
}

.light {
  @mixin light {
    display: none;
  }

  @mixin dark {
    display: block;
  }
}
